/* ********** GENERAL ********** */
body {
	box-sizing:border-box;
	background-color:#fff4c8;
	overflow:scroll;
}

div.col-md-12 {

	width:600px;
	margin:0 auto;
}

div.row {
	width:50%;
	margin:0 auto;
}

div#text {
	margin-top:42%;
	text-align:center;
}

div#battle {
	margin-top:22%;
}

/* ********** NAVBAR ********** */
.navbar-inverse {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
}

#logo {
	position:relative;

	height:auto;
	width:300px;
	margin-left:50px;
}

/* ********** TEXT ********** */
p {
	font-family: 'Cuprum', sans-serif;
	font-size:20px;
}

#herewego {
	font-family: 'Cuprum', sans-serif;
	font-size:20px;
	background-color:transparent;
	border-color:#6bb75e;
	border-width:2px;
	border-style:solid;
}

#herewego:hover {
	border-color:#78c3eb;
}

/* ********** IMAGES ********** */
#tsugidoka {
	position:relative;
	bottom:0;
	right:50px;
	width:220px;
}

.popkun {
	width:70px;
	margin:2%;
}

.popkun:hover {
	width:80px;
	margin:1%;
}