/* ********** GENERAL ********** */
body {
	box-sizing:border-box;
	background-color:#fff4c8;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.container{
	width:100%;
	margin:0 auto;
}

div.col-md-12 {
	width:600px;
	margin:0 auto;
}

div.col-md-6 {

}

div.row {
	width:50%;
	margin:0 auto;
}

div#text {
	margin-top:28%;
	text-align:center;
}

div#battle {
	width:100%;
	margin:0 auto;
	margin-top:1%;
}

div#result {
	margin-top:10%;
	margin-bottom:0;
	text-align:center;
}

/* ********** NAVBAR ********** */
.navbar-inverse {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
}

#logo {
	position:relative;

	height:auto;
	width:200px;
	margin-left:50px;
}

#logo:hover{
	opacity:.8;
}

/* ********** SCROLL STYLING ********** */
::-webkit-scrollbar {
	width:10px;
}

::-webkit-scrollbar:horizontal {
	width:0px;
}
  
::-webkit-scrollbar-track {
      background-color: #000;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: #78c3eb;
}

/* ********** TEXT ********** */
p {
	font-family: 'Cuprum', sans-serif;
	font-size:20px;
}

h2 {
	font-family: 'Cuprum', sans-serif;
	font-size:45px;
}

#herewego {
	font-family: 'Cuprum', sans-serif;
	font-size:20px;
	background-color:transparent;
	border-color:#6bb75e;
	border-width:2px;
	border-style:solid;
}

#herewego:hover {
	border-color:#78c3eb;
}

#f1name {
	text-align:center;
}

#f2name {
	text-align:center;
}

h3 {
	font-family: 'Cuprum', sans-serif;
	font-size:35px;
}

/* ********** IMAGES ********** */
#tsugidoka {
	position:absolute;
	bottom:0;
	right:5%;
	width:220px;
}

.popkun {
	position:relative;
	width:70px;
	margin:3% 5% 3% 5%;
	padding-top:4%;

}

.popkun:hover {
	width:80px;
	margin:1%;
}

#f1, #f2 {
	height:400px;
	width:auto;
	overflow:hidden;
	padding:10%;
}

#f1 {
	position: relative;
	left:0;
}

#f2 {
	position: relative;
	right:0;
}

#fighter1 {
	position:relative;
	align-content: center;
}

#fighter2 {
	position:relative;
	align-content: center;
}